<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <title>Document</title>
</head>
<body>
  <h1><%= name %> </h1>
  <p><%= desc %></p>
  <p>Price: <%= price %></p>

  <form action="/addToCart" method="POST">
    <input type="hidden" name='prod' value='<%= name %>'>
    <input type="hidden" name='price' value='<%= price %> '>
    <input type="submit" value='Add to Cart'>
  </form>
  
</body>
</html>