<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= productName %> </h1>
  <p><%= productPrice %> </p>
  <p><%= productDesc %> </p>
  <form action="/addToCart" method="POST">
<input type="hidden" name='name', value=<%= productName %>>
<input type="hidden" name='price', value=<%= productPrice %>>
<button>Add to Cart</button>
  </form>
</body>
</html>